body{
  display: flex;
  margin: 0;
  font-family: 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 25px;
  color: #666666;
  background-color: #ffffff;
  text-align: left;
  
}

div{
  border: solid;
}

.header{
  background-color:#111111;
  display: block;
}

.social-media ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-media ul li{
  list-style: none;
  padding-bottom: 0!important;
  margin: 0;
  border-bottom: 2px solid #666666;
}

.social-media ul li a img{
  width: 39px;
  height: 39px;
  padding: 0;
}
.toTop a img{
  width: 39px;
  height: 39px;
}

.toTop{
  position: fixed;
  bottom: 0;
}
.Content{
  display:flex;
  padding: 40px;
  padding-top: 80px;
}
.leftSection{
  float: left;
  position: relative;
  margin-bottom: 30px;
  height: 100% !important;
  width: 400px;
}
.leftSection ul{
  list-style: none;
  padding: 0;
  line-height: 30px;
}
.leftSection ul li a{
  text-decoration: none;
}
.leftNavBar{
  font-size: 12px;
  line-height: 20px;
}
.pf-submenu{
  border-left: 1px solid #dddddd;
  padding-left: 20px;
  margin-left: 5px;
  position: relative;

  margin-top: 10px;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 20px;
}
.leftSection p{
  margin: 0 0 12.5px;
}
.profile-Desc {
  font-family: 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #aaaaaa;
  font-size: 12px;
  line-height: 20px;
  margin: 12.5px 0 0;
}
.leftNavBar{
  padding-top: 35px;
  margin-top: 35px;
  border-top: 1px solid #e5e5e5;
}
.middleSection{
  margin-left: 40px;

}
